.overview {
    height: 599px;
    background-color: $color-11;
    text-align: center;

    .container {
        width: 270px;

        .column_inside {
            width: 100%;
            
            p {
                margin-bottom: 20px;
            }
        }

        .contentback {
            display: none;
        }

        .blogcontent {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 38px;
            padding-left: 0;

            &::before {
                display: none;
            }

            h1 {
                margin-bottom: 24px;
                font-size: 24px;
                letter-spacing: -.8px;
            }

            > p {
                margin-bottom: 23px;

                &:first-of-type {
                    margin-bottom: 24px;
                    padding-right: 2px;
                    padding-left: 2px;
                    font-size: 18px;
                    letter-spacing: -.1px;
                    word-spacing: -.4px;
                }

                &:last-child {
                    width: initial;
                    padding-right: 0;
                }
            }

            div {
                display: block;

                p:last-child {
                    margin-bottom: -4px;
                    padding-right: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}
